# Byte-compiled / optimized / compiled files
*.pyc
__pycache__/
*.pyd
*.so

# Virtual environment
.env/
venv/
env/

# Database files
*.sqlite3
db.sqlite3

# Static and media files (if generated or uploaded locally)
/static_collected/
/media/
/sample html for css generation/

# IDE specific files (e.g., PyCharm, VS Code)
.idea/
.vscode/

# Logs and temporary files
*.log
*.pot
tmp/

# Ignore Files
#.dockerignore
#.gitignore